alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bleach==3.2.1
bullet==2.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cliff==3.5.0
cmd2==1.4.0
colorama==0.4.4
configobj==5.0.6
configparser==5.0.1
Cython==0.29.21
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
dnspython==2.0.0
docutils==0.16
filelock==3.0.12
gnupg==2.3.1
gunicorn==20.0.4
humanfriendly==9.1
idna==2.10
imagesize==1.2.0
importlib-metadata==2.1.1
ipwhois==1.2.0
Jinja2==2.11.2
keyring==21.5.0
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.8
pbr==5.5.1
pdf2image==1.14.0
pexpect==4.8.0
Pillow==8.0.1
pkginfo==1.6.1
pluggy==0.13.1
prettytable==0.7.2
property-manager==3.0
psutil==5.7.3
psycopg2==2.8.6
ptyprocess==0.6.0
py==1.10.0
pycparser==2.20
pycryptodome==3.9.9
pyflakes==2.2.0
Pygments==2.7.3
pyparsing==2.4.7
pyperclip==1.8.1
pyreadline==2.1
pytesseract==0.3.6
python-secrets==20.11.0
pytz==2020.4
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.1
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
stevedore==3.3.0
toml==0.10.2
tox==3.20.1
tqdm==4.54.1
twine==3.2.0
urllib3==1.26.2
verboselogs==1.7
virtualenv==20.2.2
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0
xkcdpass==1.17.3
yamlreader==3.0.4
zipp==3.4.0
