.my-files-info {
    padding: 10px;
    min-height: 100vh;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.my-files-info .my-files {
    margin: 30px 0px;
    margin-top: 20vh;
    text-align: center;
    justify-content: center;
}

.my-files-info .my-files h1 {
    color: white;
}

.my-files-info .my-files .row {
    width: 100%;
}

.my-file-name {
    margin-top: 30px;
    overflow-x: hidden;
    padding: 20px;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: .8rem;
    text-align: center;
    font-size: 15px;
}

.my-file-name .view-file-button {
    width: 100%;
    /* background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%); */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-align: center;
    padding: 10px 0px;
    color: white;
    text-decoration: none;
    border-radius: .8rem;
}

.my-file-name .filelocker-image img{
    width: 200px;
    height: 200px;
}
