
body{
	font-family: 'Hammersmith One', sans-serif !important;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
nav {
    background: transparent;
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: all 1s;
}
label.logo {
    vertical-align: top;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 8vh;
    color: rgb(226, 226, 226);
    margin-left: 5%;
    height: 100%;
}
.logo p{
    margin: 0;
}
nav ul {
    float: right;
    display: flex;
    margin: 0;
    margin-right: 5%;
    height: 8vh;

}
nav ul li {
    list-style: none;
    height: 8vh;
}
nav ul li a p {
    display: inline-block;
    margin: 0 5px;
    border-radius: .8rem;
    letter-spacing: 2px;
    vertical-align: top;
    height: 8vh;
    padding-top: 2.4vh;
}
nav ul li a {
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 13px;
    border-radius: 3px;
    color: rgb(226, 226, 226);
    height: 8vh;
}
nav ul li a:hover {
    color: lightblue;
}
.burger {
    display: none;
    cursor: pointer;
    float: right;
    margin-right: 3%;
    margin-top: 2vh;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.nav-active {
    transform: translateX(10%);
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.scrolled {
    background-color: black;
}



.parallax {
    width: 100%;
    height: 100vh;
    background-image: url("landing-1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax_t {
    margin-top: 60px;
    width: 100%;
    height: 50vh;
    background-image: url("landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    display: inline-block;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 33%;
    /* text-transform: uppercase; */
    /* letter-spacing: 8px;
  text-shadow: 0 0 10px #000; */
    line-height: 70px;
		max-width: 70vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600;
}

.par_cont {
    display: inline-block;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 30%;
    line-height: 70px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.start {
    text-align: center;
    padding: 10px 15px;
    color: white;
    background: #221f28;
    border: 4px solid white;
    border-radius: .8rem;
    margin: 20px;
    display: inline-block;
    font-size: 25px;
    font-family: 'Gloria Hallelujah', cursive;
}

.titles {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0px;
}

.titles p {
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    border-bottom: 5px solid lightblue;
    font-size: 40px;
}

.about-us {
    margin: 50px 0px;
    padding: 25px 20px;
    text-align: center;
    font-size: 20px;
}

.points {
    padding: 5%;
    background: #f5f5f5;
}

.points img {
    width: 100%;
    height: 55vh;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.points .img-info {
    margin-top: 35px;
}

.card {
    margin: 30px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0px !important;
}

.card img {
    height: 250px;
    width: 200px;
    margin: 15px 0px;
}

.card h5, p {
    margin: 20px 0px;
}

.grey_light-block {
    background-color: white;
}

.timeline {
    position: relative;
    background-image: linear-gradient(to bottom, #930054, #983279, #97519b, #926db8, #8b87d0, #7096df, #4ca4e9, #00b1ec, #00b6db, #00b7b2, #00b376, #2aab29);
    width: 50px;
    text-align: center;
    transition: all 1s;
    margin: 0 auto;
}

.footer{
	background: black;
	padding: 10px;
	text-align: center;
	color: white;
}

@media screen and (max-width: 950px) {
    .timeline {
        margin-left: 12%;
    }
}

.timeline .point .bocata {
    position: relative;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    padding: 20px;
    transition: all 0.3s;
    width: 400px;
}

@media screen and (max-width: 425px) {
  .timeline{
    margin: 0px;
  }
    .timeline .point .bocata {
        width: 220px;
    }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
  .timeline{
    margin: 5px;
  }
    .timeline .point .bocata {
        width: 300px;
    }
}

.timeline .point .bocata+.bocata {
    margin-top: 35px;
}

.timeline .point:nth-child(odd) .bocata {
    box-shadow: -6px 10px 20px -20px #4a4a4a;
    left: 100px;
    position: relative;
    z-index: 10;
}

.timeline .point:nth-child(odd) .bocata::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-right: 10px solid #bfc8d6;
    left: -10px;
}

.timeline .point:nth-child(even) .bocata {
    box-shadow: 6px 10px 20px -20px #4a4a4a;
}

@media screen and (max-width: 950px) {
    .timeline .point:nth-child(even) .bocata {
        left: 100px;
        position: relative;
        z-index: 10;
    }

    .timeline .point:nth-child(even) .bocata::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        z-index: 10;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-top: -10px;
        top: 50%;
        border-right: 10px solid #bfc8d6;
        left: -10px;
    }
}

@media screen and (min-width: 950px) {
    .timeline .point:nth-child(even) .bocata {
        right: 425px;
        position: relative;
        z-index: 10;
    }

    .timeline .point:nth-child(even) .bocata::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        z-index: 10;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-top: -10px;
        top: 50%;
        border-left: 10px solid #bfc8d6;
        left: auto;
        right: -10px;
    }
}

.timeline .point .arrow {
    border: solid #f7f7f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
}

.timeline .point:first-child .arrow, .timeline .point:last-child .arrow {
    border: solid #f7f7f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
}

.timeline .point .arrow-clean {
    border: solid white;
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
    position: absolute;
    left: -5px;
    bottom: -13px;
    transform: rotate(45deg);
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.28px;
    font-family: 'Courgette', cursive;
}


.join{
  margin-top: 40px;
  padding: 100px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.join .join-button{
  margin-top: 50px;
  padding: 15px 20px;
  border-radius: .8rem;
  background: lightblue;
  color: white;
  display: inline-block;
}

.teacher{
  margin: 50px 0px;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  text-align: center;
}

.teacher img{
  height: 500px;
  width: 40vw;
}

.teacher .teacher-join{
  margin: 0px 25px;
}

.teacher .join-button{
  margin-top: 25px;
  padding: 15px 20px;
  border-radius: .8rem;
  background: lightblue;
  color: white;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
    .heading {
        top: 15%;
    }

    .teacher img{
      height: 50vh;
      width: 80%;
    }

    .points img{
      height: 40vh;
    }

    .par_cont{
      font-size: 25px;
      top: 25%;
      line-height: 40px;
    }

    .teacher{
      flex-direction: column;
      text-align: center;
    }
}

@media only screen and (max-width: 992px){
  .points{
    text-align: center;
  }
}

.page-footer {
    background-color: rgb(48, 50, 52);
    color: white !important;
    bottom: 0 !important;
}
#white, .clearfix {
    color: white;
    border-color: white;
}
.list-unstyled li a {
    color: white !important;
}
.icons {
    margin-bottom: 0 !important;
}
.list-unstyled li a:hover {
    text-decoration: none;
}
