{% extends 'blockchain/base.html' %}
{% load static %}
{% block content %}

<div class="main-body">
    <div class="parallax pic">
        <div class="heading">
            COCONUT
            <h1>As coconuts are tough to open so are your files in our portal</h1> <br>
        </div>
    </div>

    <div class="container">
        <div class="titles">
            <p>About Us</p>
        </div>
        <div class="about-us">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="points">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="{% static 'images/lappy.PNG' %}" alt="">
            </div>
            <div class="col-12 col-lg-6">
                <div class="img-info">
                    <h5>Heading</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
                <div class="img-info">
                    <h5>Heading</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
                <div class="img-info">
                    <h5>Heading</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="titles">
            <p>What Makes Us Different?</p>
        </div>
        <div class="row">
            <div class=" col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'images/online_class.svg' %}" alt="">
                    <h5>Heading</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'images/teacher.svg' %}" alt="">
                    <h5>Heading</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'images/library.svg' %}" alt="">
                    <h5>Heading</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax_t">
        <div class="par_cont">
            Make your files more secure by storing it <br> in our blocks
        </div>
    </div>
</div>

<div class="titles">
    <p>How it works</p>
</div>

<div class="grey_light-block pt-5">
    <div class="container">
        <div class="timeline body white">

            <div class="point"> </div>

            <div class="point">
                <div class="bocata body text-left row">
                    <div class="col-md-12 title medium bold pb-2">SignUp</div>
                    <div class="col-md-12 body large mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</div>
                    <div class="col-md-12 body large"><img src="{% static 'images/signup.svg' %}" class="img-fluid"></div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="bocata body text-left row">
                    <div class="col-md-12 title medium bold pb-2">Upload your file</div>
                    <div class="col-md-12 body large mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</div>
                    <div class="col-md-12 body large"><img src="{% static 'images/upload.svg' %}" class="img-fluid"></div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="bocata body text-left row">
                    <div class="col-md-12 title medium bold pb-2">Let's Encrypt</div>
                    <div class="col-md-12 body large mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</div>
                    <div class="col-md-12 body large"><img src="{% static 'images/Encrypt.svg' %}" class="img-fluid"></div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="bocata body text-left row">
                    <div class="col-md-12 title medium bold pb-2">Data stored inside coconut</div>
                    <div class="col-md-12 body large mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</div>
                    <div class="col-md-12 body large"><img src="{% static 'images/data.svg' %}" class="img-fluid"></div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="bocata body text-left row">
                    <div class="col-md-12 title medium bold pb-2">View all your files</div>
                    <div class="col-md-12 body large mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</div>
                    <div class="col-md-12 body large"><img src="{% static 'images/files.svg' %}" class="img-fluid"></div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="bocata body text-left row">
                    <div class="col-md-12 title medium bold pb-2">Get data back privately.</div>
                    <div class="col-md-12 body large mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</div>
                    <div class="col-md-12 body large"><img src="{% static 'images/private.svg' %}" class="img-fluid"></div>
                </div>
                <i class="arrow"></i>
                <i class="arrow-clean"></i>
            </div>
        </div>
    </div>
</div>

<div class="join">
    <h1>Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed</h1>
    <h4 class="join-button">Start Now</h4>
</div>

<div class="footer">
    <h4>Made by team index.html in HackOffv3.0</h4>
</div>
{% endblock %}

</body>

</html>
