{% extends 'blockchain/base.html' %}
{% load static %}
{% block cssblock %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="limiter">
  <div class="container-login100">

    {% if messages %}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</div>
{% endif %}

    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <form class="login100-form validate-form" action="{% url 'blockchain:signup' %}" method="POST">
        {% csrf_token %}
        <br>
        <span class="login100-form-title p-b-33">
         <h1>Register</h1>
        </span>
        <br>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="username" placeholder="Username">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input">
          <input class="input100" type="email" name="email" placeholder="Email">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input">
          <input class="input100" type="password" name="password" placeholder="Password">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input">
          <input class="input100" type="password" name="password_confirm" placeholder="Confirm Password">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>
        <br>
        <div class="container-login100-form-btn m-t-20">
          <button class="login100-form-btn">
            Sign Up
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
