<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'blockchain:signup' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" />
            <input type="password" name="password" />
            <input type="password" name="password_confirm" />
            <input type="email" name="email" />
            <br>
            <input type="submit" name="" value="submit" id="submit">
        </form>    
    </body>
</html>
