{% extends 'blockchain/base.html' %}
{% block content %}

<form action="{% url 'blockchain:signup' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br>
    <label for="con_password">Confirm password:</label>
    <input type="password" name="password_confirm" id="con_password" />
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <br>
    <input type="submit" name="" value="submit" id="submit">
</form>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{% url 'blockchain:signup' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" />
            <input type="password" name="password" />
            <input type="password" name="password_confirm" />
            <input type="email" name="email" />
            <br>
            <input type="submit" name="" value="submit" id="submit">
        </form>
    </body>
</html> -->
